* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 173, 161, 0.404);
    border-bottom: 5px solid black;
}

.link {
    margin: 0px 5px;
    text-decoration: none;
}

.navbar_links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.App {
    max-width: 800px;
    margin: 0 auto;
}

.App h1 {
    text-align: center;
    margin-top: 15px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.pagination_wrapper {
    margin-top: 15px;
    display: flex;
}

.pagination_btn {
    padding: 10px;
    cursor: pointer;
    border: 1px solid teal;
}

.pagination_current {
    border: 2px solid red;
    font-weight: bold;
}

.active{
    color: var(--color-active);
    cursor: default;
    text-decoration:underline red;
}